<!DOCTYPE html>
<html>
  <head>
    <title>JSON Data Table</title>
  </head>
  <body class="bg-dark vh-100">
    <h1 class="text-white p-2">Get Api</h1>
    <table>
      <input type="number" placeholder="Enter user Id" [(ngModel)]="endPoint" />
      <button (click)="fetchData()">Get Data</button>
      <button (click)="fetchAllData()">Get All Data</button>
      <tr>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>body</th>
      </tr>

      <!-- displayed get  -->

      <tr *ngFor="let data of getApiData">
        <td>{{ data.userId }}</td>
        <td>{{ data.id }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.body }}</td>
      </tr>
    </table>
  </body>
</html>
