<!DOCTYPE html>
<html>
  <head>
    <title>JSON Data Table</title>
  </head>
  <body class="bg-dark vh-auto">
    <h1 class="text-white p-2">Get Api</h1>
    <input type="number" placeholder="Enter user Id" [(ngModel)]="endPoint" />
    <button (click)="fetchData()">Get Data</button>
    <button (click)="fetchAllData()">Get All Data</button>
    <table>
      <tr>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>body</th>
        <th>controls</th>
      </tr>

      <!-- displayed get  -->

      <tr *ngFor="let data of getApiData">
        <td>{{ data.userId }}</td>
        <td>{{ data.id }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.body }}</td>
        <button (click)="updateData(data)">edit</button>
        <button class="bg-danger">delete</button>
      </tr>

      <!-- displayed post data -->

      <tr *ngFor="let data of postApiData">
        <td>{{ data.userId }}</td>
        <td>{{ data.id }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.body }}</td>
        <button (click)="updateData(data)">edit</button>
        <button class="bg-danger">delete</button>
      </tr>
    </table>

    <!-- displayed post form -->

    <h1 class="text-white py-5">Post Api</h1>

    <form [formGroup]="postForm" (ngSubmit)="onSubmitHandle()">
      <label for="userId" class="text-white px-1">UserId :</label>
      <input
        type="number"
        id="userId"
        formControlName="userId"
        required
        placeholder="Enter userId"
      />
      <div
        class="text-danger"
        *ngIf="postForm.get('userId')?.errors?.['required'] && submitted"
      >
        UserId required
      </div>
      <br /><br />
      <label for="title" class="text-white px-1">Title :</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        required
        placeholder="Enter Title"
      />
      <div
        class="text-danger"
        *ngIf="postForm.get('title')?.errors?.['required'] && submitted"
      >
        Title required
      </div>
      <br /><br />
      <label for="body" class="text-white px-1">Body :</label>
      <input
        type="text"
        id="body"
        formControlName="body"
        required
        placeholder="Enter Body"
      />
      <div
        class="text-danger"
        *ngIf="postForm.get('body')?.errors?.['required'] && submitted"
      >
        Body required
      </div>
      <br /><br />
      <button class="btn btn-danger">Save</button>
    </form>
  </body>
</html>
