.form-wrapper {
  display: flex;
  align-items: center;
  height: 90vh;

  form {
    width: 300px;
    margin: 0 auto;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input.is-invalid {
    border-color: red;
  }

  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  textarea.is-invalid {
    border-color: red;
  }

}