<div class="form-wrapper">
    <form #f='ngForm' (ngSubmit)="onSubmit(f)">

        <label for="name">Name : </label>
        <input type="text" id="name" name="name" #name="ngModel" [ngClass]="{'is-invalid':f.submitted && name.invalid}"
            ngModel required>
        <div *ngIf="f.submitted && name.errors" class="invalid-feedback">
            Name is required
        </div>
        <label for="name">id : </label>
        <input type="number" id='id' name='id' #id="ngModel" [ngClass]="{'is-invalid':f.submitted && id.invalid}"
            ngModel required>
        <div *ngIf="f.submitted && id.errors" class="invalid-feedback">
            Id is required & only number are allowed
        </div>
        <label for="name">Age : </label>
        <input type="number" id="age" name="age" #age="ngModel" [ngClass]="{'is-invalid':f.submitted && age.invalid}"
            ngModel required>
        <div *ngIf="f.submitted && age.errors" class="invalid-feedback">
            Age is required & only numbers are allowed
        </div>

        <!-- address  -->

        <div class="address-form" ngModelGroup="address">
            Address : <br><br>
            <label for="street">Street:</label>
            <input type="text" id="street" name="street" #street="ngModel"
                [ngClass]="{'is-invalid':f.submitted && street.invalid}" ngModel required>
            <div *ngIf="f.submitted && street.invalid" class="invalid-feedback">
                Street is required
            </div>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" #city="ngModel"
                [ngClass]="{'is-invalid':f.submitted && city.invalid}" ngModel required>
            <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                City is required
            </div>

            <label for="zipcode">Zip Code:</label>
            <input type="text" id="zipcode" name="zipcode" #zipcode="ngModel"
                [ngClass]="{'is-invalid':f.submitted && zipcode.invalid}" ngModel required>
            <div *ngIf="f.submitted && zipcode.invalid" class="invalid-feedback">
                Zip Code is required
            </div>
        </div>

        <!-- submit  -->

        <button class="button">Submit</button>

    </form>
</div>