* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  background-color: #333;
  margin: 0;

  li {
    margin: 0;

    a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      display: block;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background: rgb(255, 51, 0);
        transition: ease 0.5s;
      }

      &::before {
        left: 0;
        bottom: 0;
      }

      &::after {
        right: 0;
        bottom: 0;
      }

      &:hover {
        &::before {
          width: 100%;
        }

        &::after {
          width: 100%;
        }
      }
    }
  }
}

router-outlet {
  padding: 20px;
}