<h2>Built-in Pipes:</h2>
<p>name using uppercase pipe : {{ title | uppercase }}</p>
<p>name using lowercase pipe : {{ title | lowercase }}</p>
<p>Currency pipe : {{ price | currency : "USD" }}</p>
<p>Percentage pipe : {{ percentValue | percent }}</p>
<p>Number pipe: {{ numberValue | number : "1.2-2" }}</p>
<p>JSON pipe : {{ object | json }}</p>

<h2>Custom Pipes:</h2>

<div class="container">
  <input [(ngModel)]="searchTerm" placeholder="Search" />

  <ul>
    <li *ngFor="let item of items | filter : searchTerm">
      <p>
        {{ item | json }}
      </p>
    </li>
  </ul>
</div>

<h2>Attribute derectives:</h2>

<div [ngClass]="{ active: isActive, highlight: isHighlighted }">
  This element's classes are dynamically controlled.
</div>
<p [ngStyle]="{ color: textColor, 'font-size': fontSize }">
  This element's styles are dynamically controlled.
</p>
<input [(ngModel)]="data" placeholder="Enter text" />
{{ data }}

<h2>Structural derectives:</h2>

<div *ngIf="isActive">Condition got true</div>
<li *ngFor="let item of items">for loop run</li>
<div [ngSwitch]="value">
  <p *ngSwitchCase="'A'">Value is first</p>
  <p *ngSwitchCase="'B'">Value is second</p>
  <p *ngSwitchDefault>Value is something else</p>
</div>

<h2>Custom directives:</h2>
<table>
  <tr>
    <td>
      <label>Please enter your password :-</label>
    </td>
    <td>
      <input type="text" appInBuild />
    </td>
  </tr>
</table>
