.child {
    border: 2px solid #e74c3c;
    padding: 20px;
    margin: 10px;
    background: linear-gradient(135deg, #f7f7f7, #c7c7c7);
    box-shadow: 4px 4px 0px 0px #e74c3c;

    button {
        background: linear-gradient(135deg, #e74c3c, #c43b2e);
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    h1 {
        color: #e74c3c;
        font-size: 24px;
    }
}