<div class="container">
    <h1>This is home page</h1>
    <h2>Now you are going to get <i>Array of Object</i> by BehaviourSubject :- <br><br><br>
        <span>data is null untill you click on
            BehaviourSubject btn on inputoutput page</span>
        <table>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            <ng-container *ngFor="let record of showData">
                <tr *ngFor="let item of record | keyvalue">
                    <td>{{ item.key }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            </ng-container>
        </table>
    </h2>

    <h2>Posts from the API:</h2>
    <button (click)="fetchData()">Fetch Data from API</button>
    <ul>
        <li *ngFor="let post of posts">
            {{ post.title }}
        </li>
    </ul>
</div>